@use '../tools';
@use 'brand';
@use 'sass:color';

/// ## UI Colors
/// ------------
/// @group color
/// @colors ui-colors

$text: hsl(230deg 25% 20%);
$bg: white;
$bg-messages: tools.tint(brand.$brand-blue, 94%);
$border: tools.tint($text, 50%);
$border-light: tools.tint(brand.$brand-blue, 65%);
$warning: tools.shade(brand.$brand-pink, 5%);
$action: tools.shade(brand.$brand-pink, 15%);
$active: brand.$brand-blue;
$success: oklab(51.527% -0.099 0.0131);
$action-light: color.adjust(
  brand.$brand-blue,
  $saturation: -45%,
  $lightness: 10%
);
