/// # Focus Styling
/// @group focus

/// Consistent focus ring
/// is applied by default on element-focus,
/// but some patterns (like radio-buttons) also require
/// focus-ring applied to a sibling or parent element.
/// @example html
///   <div>
///     <button data-btn data-styleguide="focus">
///       focus-ring example
///     </button>
///   </div>
/// @group focus
@mixin focus-ring() {
  /* stylelint-disable declaration-block-no-redundant-longhand-properties */
  outline-color: var(--focus-ring, currentColor);
  outline-offset: var(--outline-offset, 0);
  outline-style: var(--outline-style, solid);
  outline-width: var(--outline-width, var(--border-width-md));
  /* stylelint-enable declaration-block-no-redundant-longhand-properties */
}
