@use 'tools';
@use 'sassdoc-theme-herman/scss/utilities' as herman;

/// # Fonts Config
/// Accoutrement maps for storing global font tokens.
/// @link https://www.oddbird.net/accoutrement/docs/type.html
///   Accoutrement Type
/// @group fonts

// Body Font
// ---------
/// Freight Text Pro is the primary font of the OddBird brand.
/// @group fonts
/// @font body (normal, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link https://www.oddbird.net/accoutrement/docs/type.html
///   Accoutrement Type
$body-font: (
  'name': 'freight-text-pro',
  'stack': (
    'Baskerville',
    'Palatino',
    'Cambria',
    'Georgia',
    'serif',
  ),
  'source': 'https://fonts.adobe.com/fonts/freight-text',
);

@include tools.add-font('body', $body-font);
@include herman.add('font', 'body', $body-font);

// Alt Font
// --------
/// Freight Sans Pro provides a sans-serif alternative,
/// still in the same family as our primary font.
/// @group fonts
/// @font alt (normal, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link https://www.oddbird.net/accoutrement/docs/type.html
///   Accoutrement Type
$alt-font: (
  'name': 'freight-sans-pro',
  'stack': (
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    'sans-serif',
  ),
  'source': 'https://fonts.adobe.com/fonts/freight-sans',
);

@include tools.add-font('alt', $alt-font);
@include herman.add('font', 'alt', $alt-font);

// Code Font
// ---------
/// Source Code Pro provides a nice-looking monospace option
/// for code samples across the site.
/// @group fonts
/// @font code (normal, italic, bold, bold italic)
///   <script src="https://use.typekit.net/slx1xnq.js"></script>
///   <script>try{Typekit.load({ async: true });}catch(e){}</script>
/// @link https://www.oddbird.net/accoutrement/docs/type.html
///   Accoutrement Type
$code-font: (
  'name': 'SourceCodePro',
  'stack': (
    'Consolas',
    'Menlo',
    'Monaco',
    'Courier New',
    'monospace',
  ),
  'source': 'https://fonts.adobe.com/fonts/source-code-pro',
);

@include tools.add-font('code', $code-font);
@include herman.add('font', 'code', $code-font);
