**/*.DS_Store
**/*.cover
**/*.css.map
**/*.js.map
**/*.log
**/*.md
**/*.mo
**/*.orig
**/*.pot
**/*.py[cod]
**/*.rst
**/*.sage.py
**/*.spec
**/*.sql
**/*.swo
**/*.swp
**/*~
**/Dockerfile
.devcontainer/
.dockerignore
.git
.github/
.nvmrc
.svelte-kit/
.vscode/
coverage/
docker-compose.yml
node_modules/
npm-debug.log
static/built/
static/styleguide/

# Yarn
.pnp.*
.yarn/*
yarn-error.log
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

!.svelte-kit/tsconfig.json
!README.md
