**/*.DS_Store
**/*.cover
**/*.css.map
**/*.js.map
**/*.log
**/*.md
**/*.mo
**/*.orig
**/*.pot
**/*.py[cod]
**/*.rst
**/*.sage.py
**/*.spec
**/*.sql
**/*.swo
**/*.swp
**/*~
**/Dockerfile
.devcontainer/
.dockerignore
.git
.github/
.nvmrc
.svelte-kit/
.vscode/
.yarn/
.yarnrc
coverage/
docker-compose.yml
node_modules/
npm-debug.log
static/built/
static/styleguide/
yarn-error.log

!.svelte-kit/tsconfig.json
!README.md
