*.DS_Store
*.log
*~
/.svelte-kit
/build
/coverage
/package
/static/built
/static/styleguide
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
