@use '../config';

html,
body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

[data-layout] {
  gap: var(--layout-gap-block, 0) var(--layout-gap-inline, 0);
}

[data-layout~='app'] {
  display: grid;
  grid-template:
    'banner' auto
    'header' auto
    'main' 1fr
    'footer' auto / 100%;
  min-height: 100vh;
  padding: 0;

  @include config.above('lg-page-break') {
    grid-template:
      'banner header' auto
      'main  header' 1fr
      'footer header' auto / 1fr minmax(300px, 30%);
  }

  // padding only for the direct children of app
  > [data-layout] {
    padding: var(--layout-pad-block, var(--gutter-plus))
      var(--layout-pad-inline, var(--double-gutter));
  }
}

[data-layout~='banner'] {
  display: grid;
  grid-area: banner;
  grid-template-columns: 1fr auto;
}

[data-layout~='header'] {
  grid-area: header;
}

[data-layout~='main'] {
  grid-area: main;
}

[data-layout~='footer'] {
  grid-area: footer;
}

[data-layout~='split'] {
  display: grid;

  @include config.above('sm-page-break') {
    grid-template-columns: 1fr 1fr;
  }
}

[data-group~='bg'] {
  grid-column: 1;
}

[data-group~='fg'] {
  @include config.above('sm-page-break') {
    grid-column: 2;
  }
}
