@use '../config';

/// # Link Defaults
/// Initial global defaults for links
/// @group links

// Hide default browser focus for mouse-users but interactive elements will
// have custom focus styles applied
:focus:not(:focus-visible) { outline: none }

// Focus
// -----
/// Show focus with keyboard navigation using focus-visible
/// @group links
:focus-visible {
  @include config.focus-ring;
}

// Links
// -----
/// Basic link (and link-states) apply action and interaction text colors.
/// Text underlines are also applied
/// @group links
/// @example html
///   <p>This text <a href="https://www.oddbird.net/">contains a link</a></p>
a {
  &:link,
  &:visited {
    color: var(--link, var(--action));
    text-decoration: solid underline;
    text-decoration-thickness: var(--line-thickness, var(--border-width));
    transition:
      color var(--fast),
      text-decoration-thickness var(--fast)
      transform var(--fast);
    transform: scale(1);
  }

  &:hover,
  &:focus {
    color: var(--link-focus, var(--active));

    --line-thickness: var(--border-width-lg);
  }
}
