@use '../config';

// Selection
// ---------
/// Selected text is inverted.
/// @group type
/// @example html
///   <p>Select this text to preview</p>
::selection {
  background-color: var(--text);
  color: var(--bg);
}

// Font Loading
// ------------
/// Hide the page visually while fonts are loading,
/// to avoid a flash of unstyled text.
/// @group type
.wf-loading {
  @include config.is-hidden;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

[data-heading~='large'] {
  font-size: var(--xlarge);
}

[data-heading~='small'] {
  font-size: var(--small);
}

p {
  margin: 0;
}

strong {
  font-weight: 700;
}
