/// ## Text Sizes
/// -------------
/// @group scale
/// @sizes text {text}

$small: 0.8rem;
$xsmall: 0.7rem;
$xxsmall: 0.6rem;
$rem: calc(1.25em + 0.5vw);
$medium: 1.25rem;
$large: calc(1.25rem + 0.5vw);
$xlarge: calc(1.75rem + 1vw);
$h1: $xlarge;
$h2: $large;
$h3: $medium;
