@use 'sass:math';
@use 'spacing';

/// ## Layout Sizes
/// ---------------
/// @group scale
/// @sizes layout-sizes {ruler-large}

$page: 60rem;
$sm-column-break: 30em;
$sm-page-break: 40em;
$lg-page-break: 80em;
$page-margin: calc(spacing.$quarter-shim + 4vw);
