/// ## Text Sizes
/// -------------
/// @group scale
/// @sizes text-sizes {text}
$rem: calc(1rem + 0.125vw);
$xsmall: calc(0.875rem + 0.125vw);
$small: $rem;
$medium: calc(1.25rem + 0.25vw);
$large: calc(1.375rem + 0.25vw);
$xlarge: calc(2.25rem + 0.75vw);

$label-size: calc(0.85rem + 0.125vw);
$warning-size: $xsmall;
