/// ## UI Sizes
/// -----------
/// @group scale
/// @sizes ui-sizes {ruler-large}

$border-width: 1px;
$border-width-md: 2px;
$border-width-lg: 4px;
$border-radius: var(--shim);
$logo: 12rem;
$swatch: 3.25rem;
$icon-size-default: 1.125em;
$icon-small: 0.65em;
$icon-medium: 1.5em;
$ratio-width: 10rem;
$range-thumb-size: 1.35rem;
$range-input: 0.85rem;
