/// ## UI Sizes
/// -----------
/// @group scale
/// @sizes ui-sizes {ruler-large}

$border-width: 1px;
$border-width-lg: 3px;
$border-radius: var(--shim);
$logo: 12rem;
$swatch: 3.25rem;
$status-icon: 0.75em;
