@use '../config';

[data-setting] {
  align-items: center;
  column-gap: var(--gutter);
  display: grid;
  grid-template:
    'format-label' auto
    'format-input' auto / 1fr;
  justify-content: end;

  @include config.above('sm-page-break') {
    --align-label: right;

    grid-template: 'format-label format-input' auto / 1fr auto;
  }

  label {
    grid-area: format-label;
    text-align: var(--align-label, left);
  }

  select {
    grid-area: format-input;
  }
}
