[data-nav='social'] {
  --li-padding-bottom: 0;
  --link: var(--action-light);
  --link-focus: var(--action);

  a {
    &:link,
    &:visited {
      --outline-width: 0;

      display: block;

      &:focus-visible {
        transform: scale(1.15);
      }
    }
  }
}
