/// # Button Pattern
/// @group buttons

button {
  font-family: inherit;
  font-size: inherit;
}

// Basic Buttons
// -------------
/// @group buttons
/// @example html
///   <button data-btn>Base Button</button>
[data-btn] {
  appearance: none;
  align-items: center;
  background-color: var(--btn-bg-color, var(--bg));
  border: var(--btn-border-width, var(--border-width, 0)) solid
    var(--btn-border-color-active, var(--btn-border-color, var(--text)));
  border-radius: var(--border-radius);
  color: var(--btn-text-color, var(--text));
  cursor: pointer;
  display: inline-flex;
  padding: var(--btn-padding-block, var(--half-shim))
    var(--btn-padding-inline, var(--gutter));
  transition:
    color var(--fast),
    background-color var(--fast);

  &:hover,
  &:focus {
    background-color: var(--btn-bg-color-active, var(--text));
    color: var(--btn-text-color-active, var(--action));
  }
}

[data-btn~='icon'] {
  --btn-bg-color-active: transparent;
  --btn-border-width: 0;
  --btn-padding-inline: var(--half-shim);
  --btn-text-color-active: var(--action);
}
