// The Details disclosure element
// ------------------------------

summary {
  cursor: pointer;
  font-weight: bold;

  // Hides marker some browsers add
  &::marker {
    content: none;
  }

  // Hides marker webkit adds
  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    border-color: transparent transparent transparent currentcolor;
    border-style: solid;
    border-width: var(--triangle-width) 0 var(--triangle-width)
      var(--triangle-height);
    content: '';
    grid-column: 1;
    grid-row: 1;
    margin-block-start: var(--half-shim);
    rotate: var(--rotate-triangle, none);
    transition: rotate var(--fast);

    [open] & {
      --rotate-triangle: 90deg;
    }
  }
}
