/// # Form Patterns
/// @group forms

.label,
label {
  display: block;
  font-family: 'FreightSans Pro Book';
  font-size: var(--label-size);
  letter-spacing: 0.05rem;
  margin-bottom: var(--label-margin-bottom, var(--gutter));
  text-transform: uppercase;
}

input,
select {
  border-color: var(--border-light);
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

select {
  border: 0;
  box-shadow: 1px 1px var(--shim) hsla(0deg 0% 50% / 40%);
  padding: var(--half-shim) var(--shim);
}

input {
  transition: outline-color var(--fast), outline-style var(--fast);

  [data-needs-changes] & {
    --focus-ring: var(--warning-color);
  }
}
