// Icon
// ----
/// By default, icons take on the size of surrounding text.
/// @group icons
[data-icon] {
  fill: currentColor;
  display: inline-block;
  height: var(--icon-height, var(--icon-size, 1em));
  overflow: visible;
  width: var(--icon-width, var(--icon-size, 1em));
}

[data-icon~='logo'] {
  --icon-height: auto;
  --icon-width: var(--logo);
}
