// Icon
// ----
/// By default, icons take on the size of surrounding text.
/// @group icons
/// @example html
///   <svg data-icon xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 27.81">
///     <path d="M38.19,.82c1.08,1.08,1.09,2.84,0,3.93,0,0,0,0,0,0L15.94,26.99c-1.08,1.08-2.84,1.09-3.93,0,0,0,0,0,0,0L.88,15.87c-1.12-1.05-1.18-2.81-.13-3.93,1.05-1.12,2.81-1.18,3.93-.13,.04,.04,.09,.08,.13,.13l9.08,9.15L34.26,.82c1.08-1.08,2.84-1.09,3.92,0,0,0,0,0,0,0Z"/></svg>
[data-icon] {
  fill: var(--icon-color, currentcolor);
  display: inline-block;
  height: var(--icon-height, var(--icon-size, var(--icon-size-default)));
  overflow: visible;
  width: var(--icon-width, var(--icon-size, var(--icon-size-default)));
}

/// Small Icon
/// @group icons
/// @example html
///   <svg data-icon data-icon-size="small" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 27.81">
///     <path d="M38.19,.82c1.08,1.08,1.09,2.84,0,3.93,0,0,0,0,0,0L15.94,26.99c-1.08,1.08-2.84,1.09-3.93,0,0,0,0,0,0,0L.88,15.87c-1.12-1.05-1.18-2.81-.13-3.93,1.05-1.12,2.81-1.18,3.93-.13,.04,.04,.09,.08,.13,.13l9.08,9.15L34.26,.82c1.08-1.08,2.84-1.09,3.92,0,0,0,0,0,0,0Z"/></svg>
[data-icon-size='small'] {
  --icon-size: var(--icon-small);
}

///  Medium Icon
/// @group icons
/// @example html
///   <svg data-icon data-icon-size="medium" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 27.81">
///     <path d="M38.19,.82c1.08,1.08,1.09,2.84,0,3.93,0,0,0,0,0,0L15.94,26.99c-1.08,1.08-2.84,1.09-3.93,0,0,0,0,0,0,0L.88,15.87c-1.12-1.05-1.18-2.81-.13-3.93,1.05-1.12,2.81-1.18,3.93-.13,.04,.04,.09,.08,.13,.13l9.08,9.15L34.26,.82c1.08-1.08,2.84-1.09,3.92,0,0,0,0,0,0,0Z"/></svg>
[data-icon-size='medium'] {
  --icon-size: var(--icon-medium);
}

/// Success Icon
/// @group icons
/// @example html
///   <svg data-icon data-icon-theme="success"
///     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.12 24.12">
///     <path d="m4.59,13.25c1.26.68,4.17,2.37,5.48,4.21.09.13.28.12.35-.02.87-1.66,4.8-10.28,12.46-8.69,0,0-7.71-4.73-13.37,4.62,0,0-1.09-.83-2.01-2.18-.14-.2-.41-.27-.62-.14l-2.32,1.49c-.26.17-.25.54.02.69v.02Z"/>
///     <path d="m19.14,10.58c.84,3.69-.78,7.66-4.23,9.63-4.23,2.42-9.64.95-12.07-3.29-1.61-2.81-1.49-6.14,0-8.77.76-1.33,1.86-2.48,3.28-3.3s2.97-1.18,4.5-1.15c2.04.03,4.02.76,5.6,2.09.1.09.21.17.31.26.58-.09,1.59-.1,2.18-.11-1.09-1.36-2.47-2.38-4-3.05-.71-.31-1.45-.54-2.21-.69-2.39-.46-4.95-.11-7.22,1.19S1.32,6.86.53,9.25C.22,10.19.04,11.17,0,12.17c-.07,1.9.36,3.83,1.37,5.6s2.46,3.12,4.13,4.02c2.04,1.1,4.41,1.51,6.73,1.13,1.2-.2,2.39-.6,3.51-1.24s2.07-1.46,2.85-2.4c1.33-1.6,2.15-3.54,2.38-5.57.14-1.24.06-2.5-.25-3.74-.49.09-1.14.22-1.64.4.02.07.04.14.06.21Z"/></svg>
[data-icon-theme='success'] {
  animation: grow-in var(--slow) var(--springy);

  --icon-color: var(--success);

  @media (forced-colors: active) {
    --icon-color: HighLightText;
  }
}
