ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  padding-bottom: var(--li-padding-bottom, var(--gutter));
}

[data-list='inline'] {
  align-items: center;
  display: flex;
  gap: var(--shim);
}

details {
  --link: var(--fgcolor);
  --link-focus: var(--fgcolor);

  background-color: var(--status-result-bg, var(--bgcolor));
  border-radius: var(--border-radius);
  color: var(--status-result-fg, var(--fgcolor));
}

summary {
  cursor: pointer;
  font-weight: bold;
  list-style-position: outside;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-block: var(--half-shim) var(--double-gutter);
}

dd {
  margin-inline-start: var(--description-margin-inline, var(--gutter));
}
