ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  padding-bottom: var(--li-padding-bottom, var(--gutter));
}

[data-list='inline'] {
  align-items: center;
  display: flex;
  gap: var(--shim);
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-block: var(--half-shim) var(--double-gutter);

  &:last-child {
    margin-block-end: 0;
  }
}

dd {
  margin-inline-start: var(--description-margin-inline, var(--gutter));
}

.list-item-heading {
  font-size: var(--small);
  font-weight: bold;
}
